{{#if isBoolean}}
  {{input
    type="checkbox"
    checked=(readonly fieldValue)
    click=(action "onChangeField" value="target.checked")
  }}
  <span>{{fieldName}}</span>
{{/if}}

{{#if isInteger}}
  {{input
    type="number"
    value=(readonly fieldValue)
    class="topic-custom-field-input small"
    input=(action "onChangeField" value="target.value")
    placeholder=(i18n 'topic_custom_field.placeholder' field=fieldName)
  }}
{{/if}}

{{#if isString}}
  {{input
    type="text"
    value=(readonly fieldValue)
    class="topic-custom-field-input large"
    input=(action "onChangeField" value="target.value")
    placeholder=(i18n 'topic_custom_field.placeholder' field=fieldName)
  }}
{{/if}}

{{#if isJson}}
  {{textarea
    value=(readonly fieldValue)
    class="topic-custom-field-textarea"
    change=(action "onChangeField" value="target.value")
    placeholder=(i18n 'topic_custom_field.placeholder' field=fieldName)
  }}
{{/if}}